BIOVISION_DB_HOST=localhost
BIOVISION_DB_PORT=3306
BIOVISION_DB_USER=
BIOVISION_DB_PASSWORD=
BIOVISION_DB_NAME=biovision_especie

BIOVISION_IMAGE_BASE_URL=https://biovision-images.pedrohenriquetoazza.workers.dev

BIOVISION_PRELOAD_MODELS=1
BIOVISION_ANALYSIS_WORKERS=4
BIOVISION_HTTP_THREADS=12
BIOVISION_GUNICORN_TIMEOUT=900
BIOVISION_APP_HOST=0.0.0.0
BIOVISION_APP_PORT=5001
